.container {
  margin: 20px auto;
  width: 50%;
  max-width: 500px;
  background: #fff;
  padding: 15px;
  text-align: center;
}

#message {
  font-weight: bold;
}

#emphasis {
  font-size: 18px;
  padding: 5px;
  border: solid 2px #000000;
  display: inline-block;
  _display: inline;
}

#result {
  margin: 15px 0 15px;
}

.hide {
  margin: 20px auto;
  width: 50%;
  max-width: 500px;
  background: #fff;
  padding: 15px;
  text-align: center;
}

.inactive {
  opacity: 0.6;
}

.displayNumber {
  background: #ddd;
  height: 120px;
  line-height: 120px;
  font-size: 40px;
  margin: 15px 0 15px;
}

table {
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: #ddd;
}

th,
td {
  border: solid 1px;
  padding: 10px;
}

/* ウィンドウ幅が0〜479pxの場合に適用するCSS */
@media screen and (max-width: 479px) {
  .container {
    margin: 20px auto;
    width: 90%;
    background: #fff;
    padding: 15px;
    text-align: center;
  }
}
